/* .card{
    background-color: bisque;
    height: 300px;
    width: 400px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 35px;
}

.card-haeder{
    text-align: center;
    background-color: aqua;
}
.card-body{
    justify-content: center;
}
.btn{
    background-color: red;
    text-align: center;
} */