.landingPage{
    background: white url(../../../assets/img/bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: white;
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}